version: "3.9"

services:
  api:
    build: ./backend
    container_name: fintrack_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: fintrack_frontend
    restart: always
    expose:
      - "5173"

  db:
    image: mysql:8.0
    container_name: fintrack_db
    restart: always
    environment:
      MYSQL_DATABASE: fintrack
      MYSQL_USER: fintrack
      MYSQL_PASSWORD: fintrack
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306" # optional, remove in production

  nginx:
    image: nginx:alpine
    container_name: fintrack_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - frontend

volumes:
  mysql_data: