services:
  api:
    build: ./backend
    container_name: fintrack_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"

  db:
    image: mysql:8.0
    container_name: fintrack_db
    restart: always
    environment:
      MYSQL_DATABASE: fintrack
      MYSQL_USER: fintrack
      MYSQL_PASSWORD: fintrack
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: fintrack_nginx
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  mysql_data:
